:root {
  --black: #000000;
  --dark-red: #830108;
  --pink: #fc626a;
  --white: #ffc3c6;
}

body {
  background-color: var(--black);
}

.navbar {
  background-color: var(--dark-red);
}
.navbar-brand{
  color: black;
}
.navbar-brand:hover {
  color: white;
}
.card-body {
  background-color:black;
  color: white;
  border-style: none;
}
.navbar {
  margin-bottom: 10px;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: black;
}
/* .card-img-top {
  padding: 5px;
} */
.card-img-top {
  border: solid 3px white;
  border-radius: 10px;
}
.card {
  margin: 10px;
  border-style: none;
}

.card-text {
  line-height: 1em;
}

.btn {
  margin-top: 15px;
  background-color: var(--dark-red);
}

div {
  /* background-color: rgb(112, 0, 0); */
  /* border: solid 1px black; */
}